corpus = data/portal.txt

vocab = genmodels/portal.pkl

encoder = genmodels/wordlist.en.encoder.pt
decoder = genmodels/wordlist.en.decoder.pt



print_every = 1
batch_size = 3000
num_epochs = 10000
learning_rate = 0.01

encoder_embedding_size = 32
encoder_hidden_size = 128
encoder_hidden_layers = 1

decoder_embedding_size = 32
decoder_hidden_size = 128
decoder_hidden_layers = 1
decoder_dropout = 0.1

teacher_forcing_ratio = 0.5

max_src_length = 7
max_tgt_length = 10

